// Specific CSS for your home-page
body {
  background-color: #F6F9FC;
}

.btn-hp {
  border: none;
  background-color: #4281A4;
  border-radius: 50px;
}

.btn-hp:hover {
  background-color: #3b718e;
}

#review-form .form-control {
  width: 100%;
  margin: 0 auto;
}

.signin-form .form-control {
  width: 100%;
}

.signup-form .form-control {
  width: 100%;
}
