<div class="banner" >
  <div class="container banner_container">
    <h1>Pay less, Enjoy more</h1>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-6" style="text-align: center;">
      <a href="" class="btn btn-primary">Je propose</a>
    </div>
    <div class="col-6" style="text-align: center;">
      <a href="" class="btn btn-primary">Je trouve</a>
    </div>
  </div>
</div>
