<div class="container explain-container my-3">

<br>
  <h2>Comment ça marche ?</h2>
  <br>

  <div class="items-explain d-flex justify-content-around">

    <div class="item rechercher">
      <i class="fas fa-search"></i>
      <h4>Recherche</h4>
      <p>Choisi une catégorie et sélectionne ton service favori</p>
    </div>

    <div class="item choisir">
      <i class="fas fa-check"></i>
      <h4>Choisi</h4>
      <p>Trouve une place dispo, et partage un compte avec plusieurs co-abonnés</p>
    </div>

    <div class="item economiser">
      <i class="fas fa-piggy-bank"></i>
      <h4>Economise</h4>
      <p>Tu payes ton abonnement jusqu'à 80% de moins</p>
    </div>

    <div class="item enjoy">
      <i class="fas fa-tv"></i>
      <h4>Enjoy</h4>
      <p>Profites de ton service immédiatement</p>
    </div>

  </div>
</div>
