show.html.erb

<div class="container d-flex mt-3 pr-3 py-3 justify-content-center" style="background-color: white; width: 650px;">

  <div class="left mt-2">
  </div>
  <div class="right ml-3">
    <h1><small><span class="badge badge-primary">Achat effectuée</span></small></h1>
      <ul class="list-unstyled">
        <li><strong>Vous avez achété un abonnementAdresse :</strong> </li>
        <li><strong>Prix mensuel : </strong> X €</li>
        <li><strong>Montant de votre achat :</strong> X euros</li>
        </li>
      </ul>
      <p> <strong>Merci de votre confiance</strong></p>
      <a class="btn btn-ghost" href="/dashboard">Voir mon page de synthèse</a>
  </div>

</div>
