<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">

    <h1 id="text-rotate" class="mb-3">Pay less, Enjoy
      <span
        class="txt-rotate"
        data-period="2000"
        data-rotate='[ " more", " much more !" ]'>
      </span>
    </h1>
    <%= link_to "Trouver un abonnement", services_path(user_choice: "cotisations"), class: "btn btn-homepage mt-3"  %>

  </div>

</div>
<div class="container">
  <%= render 'shared/explain' %>
</div>
