.btn-hp {
  color: white;
}

.btn-hp:hover {
  color: white;
}

.btn-homepage {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
}

.btn-homepage:hover {
  color: white;

}

.btn-homepage:hover::before {
  content: ">>>  ";
}

.btn-homepage:hover::after {
  content: "  >>>";
}

.btn-donate {
  color: white;
  background-color: #48A9A6;
  border-radius: 20px;
  padding: 5px 8px;
}

.btn-donate:hover {
  color: white;
}

.btn-bleu {
  background-color: #48A9A6;
  color: white;
}

.btn-rejoindre {
  background-color: #48A9A6;
  color: white;
  border-radius: 10px;
}

.btn-bleu:hover, .btn-rejoindre:hover {
  color: white;
  background-color: #3e918e;
}

.btn-contact {
  color: white;
  background-color: #4281A4;
  width: 180px;
  border-radius: 10px;
  font-size: 0.9em;
}

.btn-destroy {
  color: white;
  background-color: #C1666B;
  width: 180px;
  border-radius: 10px;
  font-size: 0.9em;
}

.btn-cancel {
  color: white;
  background-color: #C1666B;
  border-radius: 20px;
  font-size: 0.9em;
}

.btn-cancel:hover {
    color: white;
    background-color: #aa585c;
  }

.btn-abus {
  color: white;
  background-color: #D4B483;
  width: 180px;
  border-radius: 10px;
  font-size: 0.9em;
}

.btn-avis {
  color: white;
  background-color: #48A9A6;
  width: 180px;
  border-radius: 10px;
  font-size: 0.9em;
}

.btn-avis:hover, .btn-abus:hover, .btn-destroy:hover, .btn-contact:hover {
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

.btn-dashboard {
  border: 1px solid #4382A4;
  color: #4382A4;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-dashboard:hover {
  color: #3d7391;
  border: 1px solid #3d7391;
}

