
.form_subscription{
  padding: 0px;
  max-width: 1144px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.top {
  display: flex;
  justify-content: space-between;
}
.avatar-user {
  background-color: white;
  padding: 30px 100px;
  justify-content: space-between;
  margin:0px 5px 5px 0px;
  height: 150px;
  border-top-left-radius: 10px;
}
.avatar-user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.border-50 {
  width: 1px;
  background-color: black;
  height: 50%;

}

.image-service{
  background-color: white;
  padding: 15px 100px;
  margin:0px 5px 5px 0px;
  height: 150px;

}
.top h2 {
  background-color: white;
  padding: 30px 30px;
  margin:0px 0px 5px 0px;
  font-family: Raleway;
  color: #4281A4;
  text-align: center;
  height: 150px;
  border-top-right-radius: 10px;
}
.central {
  background-color: white;


  .central-left{
  padding: 10px 60px;
  margin: 0px 0px 5px 0px;
  text-align: center;
  font-family: Raleway;
  height: 100px;
  width: 25%;
  }

  .central-left p {
    width: 144px;
    margin:0px;
    color: #4281A4;
  }
  .central-left h2 {
  color:#48A9A6
  }

  .center {
    background-color: white;
    padding: 10px 40px;
    margin: 0px 0px 5px 0px;
    text-align: center;
    font-family: Raleway;
    height: 100px;
    width:300px;
    width: 25%;
  }

  .place {
  padding: 10px 25px;
  margin: 0px 0px 5px 0px;
  text-align: center;
  font-family: Raleway;
  height: 100px;
  }
  .place p {
    width: 207px;
    margin:0px;
    color: #4281A4;
  }

  .place h2 {
  color:#48A9A6
  }
  .center p {
    width: 198px;
    margin:0px;
    color: #4281A4;
  }

  .center h2 {
  color:#48A9A6;
  }

  .form {
    background-color: white;
    padding: 10px 60px;
    margin:0px 0px 5px 0px;
    color: #4281A4;
    height: 100px;
    text-align:center;
    input{
    border: 0px;
    text-align: center;
    font-size: 31px;
    padding: 0px;
    height: auto;
    max-width: 133px;
    }
  }
  .form i {
    margin-top: 40px;

  }
}

.bottom_subscription {
  background-color: white;
  color: #4281A4;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom-radius: 10px;
  text-align:center;

  .form-group {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
  .button-submit-card-subscription{
    border-radius: 10px;
    margin: 0px auto;
    background-color: #4281A4;
    margin: 10px;
    color: white;
  }
}
.form-group input {
  border-radius: 50px;
  width: 300px;
}

#places-form .form-control {
  width: 90px;
  margin: 0 auto;
}

#id-mdp-form .form-control {
  width: 400px;
  margin: 0 auto;
}

.form-group .password {
  margin-top: 2px;
}


