.group-card-sub {
  // max-width: 950px;
  // margin-right: 50px;
  margin-top:            10px;
  display:               grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:              16px;

  // display: flex;
  // flex-wrap: wrap;
}

// .group-card-sub>* {
  // flex: 1 1 160px;
//   margin: 30px;
// }


.co-abo-card {
  width: 250px;
  height: 280px;
  margin-right: 40px;
  border-width: 2px;
  border-color: black;
  background-color: #4281A4;
  border-radius: 20px 20px 20px 20px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}


  // margin:0 -15px;
  // padding:0 15px;

.co-abo-card-photo {
  // width: 372px;
  width: 250px;
  height: 125px;
  border-radius: 20px 20px 0px 0px;
}


.service-same {
  font-size: 21px;
  font-weight: bold;
  margin-top: 15px;
}

.co-abo-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}

.commission-service {
  font-size: 12px;
  margin-top: 7px;
}

.btn-dasb {
  margin-top: 15px;
  // border: none;
  background-color: white;
  color: #3b718e;
  border-radius: 50px;
  width: 160px;
  height: 40px;
  line-height: 1.0;
  // text-align: center;
  // vertical-align: center;

}

.btn-lg{
  font-size: 16px;
}
.btn-dasb:hover {
  background-color: #4b718e;
  color: white;
}

.btn-dasb:hover a {
  color: black;
  text-decoration: none;
}


.div-locataire {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  width: 100%;
}
