.co-abo-card {
  width: 372px;
  height: 400px;
  border-width: 1px;
  border-color: black;
  background-color: #4281A4;
  border-radius: 0px 0px 20px 20px;
  font-color: white;
  text-align: center;
}

.co-abo-service {

}



.co-abo-card-photo {
  width: 372px;
  height: 133px;
}


.service-same {
  font-size: 14;
  font-weight: bold;
  font-color: white;
}

.co-abo-price {
  font-size: 10;
  font-weight: bold;
  font-color: white;
}

.commission-service {
  font-size: 8;
  font-color: white;
}

.service-same p {
  font-color: white;
}

.co-abo-price p {
  font-color: white;
}

.commission-service p {
  font-color: white;
}


