.cotisation-card {
  background-color: white;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);

}
.cotisation-card-header{
     background-color: goldenrod;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;

}
.cotisation-card-header i {
  color: aqua;
}

.cotisation-title h3 {
  color: white;
}


.fa-long-arrow-alt-left
{
  color: grey;
  font-size: 1.7em;
  margin-right: 20px;
}

.fa-long-arrow-alt-left:hover {
  font-size: 2em;
  cursor: pointer;
}

.cotisation-card-body {
  justify-content: flex-end;
}

.cotisation-logo {
margin: auto;
}

.cotisation-infos{
  margin: 0 auto;
  padding: 0 auto;
  text-align: initial;

}

.center_content{
  text-align: center;
}

.cotisation-buttons {
  min-width: 35%;
  align-items: center;
}

.cotisation-logo img {
  border-radius: 20px;
  border: 1px solid #d1d2d3;
}

.cotisation-info {
  display: flex;
  text-align: center;
}

.cotisation-info p{
  color: #4280A3;
}


.cotisation-card-footer {
  min-height: 150px;
}

.cotisation-card-footer h4 {
  text-align: center;
  color: grey;
}

.input_password{
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  background-image: none;

}
#subscription_password {
  background-image: none;
     padding: 0;
    text-align: center;
    width: 100px;
    justify-content: center;
}
#subscription_available_places{
  background-image: none;
     padding: 0;
    text-align: center;
    width: 20px;
    justify-content: center;
}
#subscription_identifiant{
  background-image: none;
      padding: 0;
    text-align: center;
    justify-content: center;
    width:100px;
}


.password-subscription {
  display: flex;
  text-align:center;
  justify-content: center;
  color: #4280A3;

}

.review{
  margin-right:6em;
}


.password-subscription p {
  display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-co-abo {
  border-top: none;
}
