// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   opacity: 0.9;
// }

#notif{
  color: #D4B483;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.circle-notif {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: 10px;
    text-align: center;
    color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 1;
}



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.avatar i {
  font-size: 30px;
}

.photo_user {
  border: 1px solid white;
}

.navbar {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 2px 6px rgba(0,0,0,.02);

  a {
    color:#5f6060;
  }
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white!important;
    font-weight: bold;
  }
  a {
    color: white;
    font-weight: bold;
  }
}

.dropdown {
  cursor: pointer;
}

