.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.navbar {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 2px 6px rgba(0,0,0,.02);
}


.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white!important;
    font-weight: bold;
  }
}

