.payment-container {
  background-color: #F6F9FC;
  border-radius: 15px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  width: 50%;
}

.left-payment img {
  border: 1px solid #c7c8c9;
  border-radius: 15px;
}
