// .options {
//   display: none;

// }

// .active {
//   display: block;
// }

.active{
  color: #C1666B;
}


.container-index {
  max-width: 1144px;
    height: auto;
    border-radius: 10px;
    margin: 30px auto;
}

.filters h1 {
  color: white;
  text-align: center;
}

.container-index h1 {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  color: white;
  padding-top: 10px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #D4B483;
  margin-bottom: 20px;
  border-bottom: 2px solid #D4B483;
}

// #selection  {
//   display: flex;
// }
#selection {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.option p{
  margin-right: 3px;
}

.options a {
  margin-right: 5px;

}

.service img {
  border-radius: 30px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 25px;
  border: 1px solid #c4c4c4;
  // box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}



