.subcardbis {
  min-height: 110px;
  background-color: white;
  border-radius: 20px;
  margin-top: 25px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
}

.subcard-logo img {
  height: 60px;
  border-radius: 30px;
  border: 1px solid #e3e4e5;
}

.subcard-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.subcard-name {
  font-size: 1.3em;
}

.subcard-places {
  font-size: 1.1em;
  font-weight: bold;
}

.subcard-price {
  color: #48A9A6;
  font-size: 1.5em;
  font-weight: bold;
}

.subcard-left {
  display: flex;
  align-items: center;

}

.note{
    align-items: center;
}

.subcard-left-logo {
  display: flex;
  align-items: center;
}

.subcard-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcard-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.index-sub-title {
  color: #929393;
}

.btn-return {
  color: white;
  background-color: #D4B483;
}

.btn-return:hover {
  color: white;
  background-color: #D4B483;
}

.subcard-plus {
  cursor: pointer;
}

.subcard-plus i {
  font-size: 1.5em;
  color: #606060;
}

.index-sub-title {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: white;
}
